<div class="ui header">
  Vind hier handige links terug!
</div>
<div class="ui segment">
  <h4 class="ui sub header">
    Voor elke sport zijn er wel zaken die nodig zijn voor het beoefenen van de sport.
    <br> Hier staan enkele links opgelijst waar je deze kan vinden.
  </h4>
  <h2 class="ui sub header">Voetbal:</h2>
  <ul class="ui list">
    <li>
      <a href="http://www.voetbalshop.be/accessoires.html">www.voetbalshop.be</a> (alle benodigdheden)
    </li>
    <li>
      <a href="https://www.voetbalmateriaal.com/">www.voetbalmateriaal.com</a> (alles voor het veld uit te rusten)
    </li>
    <li>
      <a href="https://www.decathlon.be/nl/sport/c0-alle-sporten/c1-voetbal/_/N-1d8ufic">www.decathlon.be</a> (combinatie van bovenstaande)
    </li>
  </ul>

  <h2 class="ui sub header">Basket:</h2>
  <ul class="ui list">
    <li>
      <a href="https://www.d-dsport.be/basketbal-2">www.d-dsport.be</a> (alle benodigdheden)
    </li>
    <li>
      <a href="https://www.basketbal-expert.be/">www.basketbal-expert.be</a> (ballen, kleding en accessoires)
    </li>
    <li>
      <a href="https://www.decathlon.be/nl/sport/c0-alle-sporten/c1-basketbal/_/N-17v6fll">www.decathlon.be</a> (ballen, kleding en accessoires)
    </li>
  </ul>

  <h2 class="ui sub header">Tennis:</h2>
  <ul class="ui list">
    <li>
      <a href="https://www.brusselslife.be/nl/article/hoe-uw-tennisuitrusting-kiezen">Hoe je de uitrusting moet kiezen</a>
    </li>
    <li>
      <a href="http://www.tennisbrick.be/accessoires">www.tennisbrick.be</a> (alle benodigdheden)
    </li>
    <li>
      <a href="https://www.decathlon.be/nl/sport/c0-alle-sporten/c1-tennis/_/N-syh6vc">www.decathlon.be</a> (alle benodigdheden)
    </li>
  </ul>

</div>