<div class="ui segment">
  <div *ngIf='errorMsg' class="ui error message">{{errorMsg}}</div>
  <h1 class="hoofd">Overzicht van de clubs</h1>
  <div class="ui basic segment">
    <div class="ui field">
      <div class="ui input">
        <input (keyup)='filterClub$.next($event.target.value)' type='text' id='filter' name='filter' placeholder='Filter op club naam...'>
      </div>
      <div class="ui input">
        <input (keyup)='filterClubLocatie$.next($event.target.value)' type='text' id='filter' name='filter' placeholder='Filter op locatie...'>
      </div>
      <!--<div class="ui input">
        <input (keyup)='filterClubSport$.next($event.target.value)' type='text' id='filter' name='filter' placeholder='Filter op sport...'>
      </div>-->
    </div>
  </div>

  <div class="ui icon button" data-tooltip="Klik op de naam van een club om de details te bekijken!" data-inverted="">
    <i class="icon info"></i>
  </div>
  <div class="ui basic segment">
    <div class="ui three stackable cards">
      <app-club *ngFor='let localClub of clubs | clubFilter:filterClubNaam | clubFilter2:filterClubLocatie |clubFilter3:filterClubSport| clubSorteer'
        [club]='localClub' (deleteClub)='removeClub($event)'></app-club>
    </div>
  </div>
</div>
<!--clubFilter3:filterClubSport-->